<%# davidmendoza.ch %>
<div class="container">
  <nav>
    <div>
      <%= link_to root_path do %>
        <%= embedded_svg('svg/rotating-sun') %>
      <% end %>
    </div>
  </nav>

  <div id="content">
    <%# SVG, Single yellow path %>
    <%= embedded_svg('svg/yellow-path', class:"content-path") %>

    <section id="intro-container">
      <%# Introduction %>
      <h2>Hello! I<i>'</i>m <b>David</b><i>.</i> <br> I create websites<i>,</i> apps & illustrations<i>.</i></h2>

      <%# SVG, Single yellow path %>
      <%= embedded_svg('svg/yellow-path', class:"intro-path") %>

    </section>

    <section id="frame-container">
      <%# Picture in landing page %>
      <%= image_tag("flo_david.jpg", class:"flower-picture") %>

      <%# SVG Framing picture %>
      <%= embedded_svg('svg/frame-mesh') %>

    </section>

  </div>
</div>

<%= mail_to "hello@davidmendoza.ch" do %>
  <%= embedded_svg('svg/circle-pop') %>
<% end %>
