<!DOCTYPE html>
<html>
  <head>
    <title>David Mendoza | Web Developer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%# Clash Display Font %>
    <link href="https://api.fontshare.com/v2/css?f[]=clash-display@200,400,700,500,600,1,300&f[]=bonny@700,300,500,400,100&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render 'shared/background' %>
    <%= yield %>
  </body>
</html>
